.body{
    padding: 70px;
    background-color: #F5F5F5;
}

.title{
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
}

.title span{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 115px 0 0;
    padding: 21px 20px 21px 30px;
    background: #e13439;
    color: #fff;
    font-size: 28px;
    padding: 15px 20px;
    /* border-radius: 10px; */
    font-weight: bold;
}

.title span::before{
    position: absolute;
    content: '';
    width: 80px;
    left: 100%;
    top: 0;
    bottom: 0;
    background: url(../../assets/discount_title.svg) 0 0 / contain no-repeat;
}