:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-default {
  background-color: transparent;
  color: #838383;
  border: none;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-space {
  justify-content: center;
}
:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: white;
  border: none;
  background-color: transparent;
}
:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-primary,
:where(.css-dev-only-do-not-override-1uq9j6g).ant-modal .ant-modal-close:hover,
:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-primary:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-primary {
  box-shadow: none;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn:not(
    :disabled
  ):focus-visible {
  outline: none;
}
.ant-modal-footer {
  display: none;
}

div#\:r7\:,
div#\:r5\: {
  color: #1c1c1c;
  font-size: 25px;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-modal .ant-modal-content{
  padding: 35px 40px 40px;
}